:root{
  --clr-primary:#fffaf0;
  --clr-light:#8fbc8f;
  --clr-dark:#191970;
  --clr-warning:red;
}
*{
  box-sizing:border-box;
  outline:none;
}
h2{
  color:var(--clr-dark);
}
body{
  margin:0;
  padding:0%;
  font-family:helvetica;
   font-size: 16px;
  background-color: var(--clr-primary);
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:1px;
}
.title{
  grid-column: 1/-1;
  height: 30vh;
  background-image: url("lagos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.all-tasks{
  grid-column: 1/2;
  padding: 8%;
}
.task-list{
  line-height: 4.0;
  list-style:circle;
  padding-left: 5%;
}
.list-name{
  cursor:pointer;
}
.list-name:hover{
  opacity: 0.7;
}
.active{
  font-weight: 700;
}
form{
  display:flex;
}
.new{

  background: transparent;
  border:0;
  border-bottom: 1px solid black;
  font-size: inherit;
  transition:all 0.5s;
  order:2;
  padding: 0.5em;
}

.new:focus{
  padding: 5%;
  border-bottom: 3px solid black;

}

.new:focus::placeholder{
  opacity: 0.4;
}

.list-btn{
  background: transparent;
  border:0;
  cursor: pointer;
  font-size:1rem;
  font-weight: 900;
}

.list-btn:hover{
  opacity: 0.7;
}

.todo-list{
  --spacer:3rem;
  grid-column: 2/4;
  background-color: #dcdcdc;

}
.todo-header{
  background-color: #696969;
  margin: 0;
  padding: var(--spacer);
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.task-count{
  font-size:1rem;
  padding: 2%;
}
.todo-body{
  padding: var(--spacer);
  position: relative;
}
[type="checkbox"]{
  opacity:0;
  position:absolute;
}
.custom-checkbox{
  display: inline-block;
  cursor: pointer;
  --size:0.75rem;
  margin-right: var(--size);
  width:var(--size);
  height:var(--size);
  border: 1px solid currentcolor;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.2s;
}
.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox{
  transform: scale(1.2);
  color:red;
}

[type="checkbox"]:checked + label .custom-checkbox{
  background: red;
  border-color:red;
  box-shadow:inset 0 0 0px 2px #fff;
}

[type="checkbox"]:checked + label{
  opacity:0.5;
}
.task label{
  display:inline-flex;
  align-items: center;
  position:relative;
  margin-bottom: 3em;
}
.task label::after{
  content:"";
  position:absolute;
  left:1.5em;
  right:0;
  height:2px;
  background:currentColor;
  transforn-origin:right;
  transform:scaleX(0);
  transition: transform 150ms;
}

[type="checkbox"]:checked + label::after{
  transform: scaleX(1);
  transform-origin: right;
}

.delete{
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  margin: 2%;
  left:0;
  bottom:-20%;
}
.btn-delete{
  background: transparent;
  border:0;
  letter-spacing: 1px;
  font-weight: bold;
}

.btn-delete:hover{
  opacity: 0.7;
}
